In [ ]:
%pip install -r requirements.txt

### 1.Importing

In [ ]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### 2.Basic Processing

In [6]:
df = pd.read_csv(r'E:\Courses and Certifications\Zuu Crew\Building Production Ready ML Systems\Week 01\Data\Processed\ChurnModelling_Missing_Values_Handeled.csv')
df.head(5)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42.000000,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41.000000,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42.000000,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,38.912128,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43.000000,2,125510.82,1,1,1,79084.10,0

In [7]:
print(f"No of Rows :{len(df)}")

No of Rows :10000

### 3.Outlier Detection Techniques

#### 3.1 distribution plots

In [ ]:
categorical_columns = ['Geography','Gender','HasCrCard','IsActiveMember',,'Exited']
numerical_columns = ['Age','Tenure','Balance','EstimatedSalary','CreditScore','NumOfProducts']