In [26]:
%pip install -r requirements.txt

Requirement already satisfied: numpy in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from -r requirements.txt (line 1)) (2.3.1)
Requirement already satisfied: pandas in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from -r requirements.txt (line 2)) (2.3.1)
Requirement already satisfied: matplotlib in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from -r requirements.txt (line 3)) (3.10.3)
Requirement already satisfied: seaborn in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from -r requirements.txt (line 4)) (0.13.2)
Requirement already satisfied: scikit-learn in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from -r requirements.txt (line 5)) (1.7.0)
Requirement already satisfied: openai in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from -r requirements.txt (line 6)) (1.95.1)
Requirement already satisfied: groq in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from -r requirements.txt (line 7)) (0.30.0)
Requirement already satisfied: dotenv in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from -r requirements.txt (line 8)) (0.9.9)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from matplotlib->-r requirements.txt (line 3)) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from matplotlib->-r requirements.txt (line 3)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from matplotlib->-r requirements.txt (line 3)) (4.58.5)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from matplotlib->-r requirements.txt (line 3)) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from matplotlib->-r requirements.txt (line 3)) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from matplotlib->-r requirements.txt (line 3)) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from matplotlib->-r requirements.txt (line 3)) (3.2.3)
Requirement already satisfied: scipy>=1.8.0 in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from scikit-learn->-r requirements.txt (line 5)) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from scikit-learn->-r requirements.txt (line 5)) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from scikit-learn->-r requirements.txt (line 5)) (3.6.0)
Requirement already satisfied: anyio<5,>=3.5.0 in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from openai->-r requirements.txt (line 6)) (4.9.0)
Requirement already satisfied: distro<2,>=1.7.0 in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from openai->-r requirements.txt (line 6)) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from openai->-r requirements.txt (line 6)) (0.28.1)
Requirement already satisfied: jiter<1,>=0.4.0 in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from openai->-r requirements.txt (line 6)) (0.10.0)
Requirement already satisfied: pydantic<3,>=1.9.0 in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from openai->-r requirements.txt (line 6)) (2.11.7)
Requirement already satisfied: sniffio in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from openai->-r requirements.txt (line 6)) (1.3.1)
Requirement already satisfied: tqdm>4 in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from openai->-r requirements.txt (line 6)) (4.67.1)
Requirement already satisfied: typing-extensions<5,>=4.11 in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from openai->-r requirements.txt (line 6)) (4.14.1)
Requirement already satisfied: idna>=2.8 in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from anyio<5,>=3.5.0->openai->-r requirements.txt (line 6)) (3.10)
Requirement already satisfied: certifi in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from httpx<1,>=0.23.0->openai->-r requirements.txt (line 6)) (2025.7.9)
Requirement already satisfied: httpcore==1.* in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from httpx<1,>=0.23.0->openai->-r requirements.txt (line 6)) (1.0.9)
Requirement already satisfied: h11>=0.16 in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from httpcore==1.*->httpx<1,>=0.23.0->openai->-r requirements.txt (line 6)) (0.16.0)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from pydantic<3,>=1.9.0->openai->-r requirements.txt (line 6)) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from pydantic<3,>=1.9.0->openai->-r requirements.txt (line 6)) (2.33.2)
Requirement already satisfied: typing-inspection>=0.4.0 in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from pydantic<3,>=1.9.0->openai->-r requirements.txt (line 6)) (0.4.1)
Requirement already satisfied: python-dotenv in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from dotenv->-r requirements.txt (line 8)) (1.1.1)
Requirement already satisfied: six>=1.5 in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 2)) (1.17.0)
Requirement already satisfied: colorama in c:\users\thara\anaconda3\envs\zuucrew1\lib\site-packages (from tqdm>4->openai->-r requirements.txt (line 6)) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

### 1.Importing Dependencies

In [27]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### 2. Basic Processing

In [28]:
df = pd.read_csv(r'E:\Courses and Certifications\Zuu Crew\Building Production Ready ML Systems\Week 01\Data\Processed\ChurnModelling_Outliers_Handeled.csv')
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42.000000,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41.000000,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42.000000,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,38.912128,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43.000000,2,125510.82,1,1,1,79084.10,0

350 - 580 => 'Poor'
580 - 670 => 'Fair'
670 - 740 => 'Good'
740 - 800 => 'Very Good'
800 - 850 => 'Execellent'

In [29]:
def custom_binning_credit_score(score):
    if score < 580:
        return 'Poor'
    elif score < 670:
        return 'Fair'
    elif score < 740:
        return 'Good'
    elif score < 800:
        return 'Very Good'
    elif score < 850:
        return 'Excellent'
    else:
        return 'Exceptional'  # Handle scores >= 850 (like the 850 in row 4)

# Apply the binning
df['CreditScoreBins'] = df['CreditScore'].apply(custom_binning_credit_score)

# Drop the original CreditScore column
df = df.drop('CreditScore', axis=1)

# Display the result
df.head(10)

,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScoreBins
0,France,Female,42.000000,2,0.00,1,1,1,101348.88,1,Fair
1,Spain,Female,41.000000,1,83807.86,1,0,1,112542.58,0,Fair
2,France,Female,42.000000,8,159660.80,3,1,0,113931.57,1,Poor
3,France,Female,38.912128,1,0.00,2,0,0,93826.63,0,Good
4,Spain,Female,43.000000,2,125510.82,1,1,1,79084.10,0,Exceptional
5,Spain,Male,44.000000,8,113755.78,2,1,0,149756.71,1,Fair
6,France,Male,50.000000,7,0.00,2,1,1,10062.80,0,Excellent
7,Germany,Female,29.000000,4,115046.74,4,1,0,119346.88,1,Poor
8,France,Male,44.000000,4,142051.07,2,0,1,74940.50,0,Poor
9,France,Male,27.000000,2,134603.88,1,1,1,71725.73,0,Good

In [30]:
df.to_csv(r'E:\Courses and Certifications\Zuu Crew\Building Production Ready ML Systems\Week 01\Data\Processed\ChurnModelling_Binning_Applied.csv' ,index=False)